body {
    background-color: rgb(100, 235, 205);
}

footer{
    background-color:  rgb(189, 142, 250);
    color: black;
    position: fixed;
    bottom: 0;
    width:100% ;
}

footer p {
    text-align: center;
}