body {
    background-color: rgb(140, 76, 223);
}

footer{
    background-color:  rgb(76, 223, 84);
    color: black;
    position: fixed;
    bottom: 0;
    width:100% ;
}

footer p {
    text-align: center;
}